html {
  font-family: 'Roboto', sans-serif;
  font-size: $font-size;
  color: $font-color;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 100%;

  margin-left: auto;
  margin-right: auto;
  padding-left: rem(15px);
  padding-right: rem(15px);

  @include tablet {
    padding-left: rem(30px);
    padding-right: rem(30px);
  }

  @include desktop-big {
    max-width: rem(1640px);
  }
}
